@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --black: #000;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size: 55.5555%; */
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

/* Scrollbar css */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

.MuiDataGrid-cellContent{
  font-size: 1.2rem;
}
.MuiDataGrid-columnHeaderTitle{
  font-size: 1.2rem;
}